APP_URL=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_ACCOUNT_ID=
CLOUDFLARE_R2_BUCKET_NAME=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
GEMINI_API_KEY=
GITHUB_TOKEN=
SUPABASE_SERVICE_ROLE_KEY=
VITE_CLOUDFLARE_R2_PUBLIC_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=